<div class="row my-5 exam-card py-4 px-4">
    <div class="col-3">
        <h2>{{exam.name}}</h2>
        <div class="ps-4">
            <h4>Duration: {{exam.duration}}</h4>
            <h4>Grade: {{exam.grade}}</h4>
            <h4>Min Grade: {{exam.minGrade}}</h4>
        </div>
    </div>
    <div class="offset-6 col-3 text-center d-flex align-items-center">
        <div class="ms-auto p-4">
            <h4>Open Until 10 July</h4>
            <button class="custom-button mx-auto" [routerLink]="['/takeexam', exam.id, 1]">Take Exam</button>
            <button class="custom-button mx-auto" [routerLink]="['/examquestions',exam.id]">Edit Exam</button>
        </div>
    </div>
</div>
