<div class="container my-5">
  <h1 class="mb-4 text-center">Taken Exams</h1>

  <div class="row justify-content-center">
    <div class="col-md-4 mb-3" *ngFor="let currentExam of exams">
      <div class="card shadow-sm">
        <app-taken-exam-card [exam]="currentExam" [studentID]="StudentId"></app-taken-exam-card>
      </div>
    </div>

    @if (exams.length == 0)
    {
    <div class="alert alert-info">
      <p class="fs-4">This student has not taken any exams yet.</p>
    </div>
    }

  </div>