<section>
      <div class="py-5">
        <h1 class="text-center mb-4">Questions</h1>
        
        @for ( question of allQs; track question.id; let i = $index) {
          <app-question-card [question]="question" [questionNumber]="i + 1" (deleteEmitter)="updateQuestions($event)"></app-question-card>
        }

        @for (question of newQs; track $index) {
          <app-add-question-card [question]="question" (addedQuestionEmitter)="addNewQuestion($event)"></app-add-question-card>
        }
        <button class="custom-button mx-auto" (click)="AddEmptyQuestion()" > Add Question </button>
      </div>
</section>


