<div class="container mt-4">
  <div class="row">
    <div class="col-md-4 mb-3" *ngFor="let student of students">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">{{ student.name }}</h5>
          <p class="card-text">
            <strong>Address:</strong> {{ student.address }} <br />
            <strong>Email:</strong> {{ student.email }}
          </p>
          <button class="btn btn-primary"  [routerLink]="['/student',student.id,'exams']" >
            Show Taken Exams
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
