/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');


body
{
    color: #271b55;
    font-family: "Itim", cursive;
    background-color: #eee;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* h1, nav
{
    color: #271b55;
    font-family: "Irish Grover", system-ui;
} */

.custom-input
{
    display: block;
    width: 100%;
    border: 2px solid #271b55;
    border-radius: 10px;
    padding: 0.5rem 0.7rem;
    color: rgb(109, 138, 218);
    font-weight: 500;
}

textarea:focus, input:focus, input[type]:focus
 {   
    border-color: rgba(39, 27, 85, 1);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(39, 27, 85, .7);
    outline: 0 none;
}

::placeholder 
{
  color: #a7b7ec;
  font-weight: 500;
  opacity: 1;
}

::-ms-input-placeholder 
{
  color: #a7b7ec;
  font-weight: 500;
}

.custom-button
{
    color: #fff;
    background-color: #271b55;
    padding: .375rem .75rem;
    border: 1px solid #271b55;
    border-radius: 0.375rem;
    display: block;
    transition: all 0.15s ease-in-out;
}

.custom-button-outline
{
    color: #271b55;
    background-color: transparent;
    padding: .375rem .75rem;
    border: 1px solid #271b55;
    border-radius: 0.375rem;
    display: block;
    transition: all 0.15s ease-in-out;
}

.custom-button:hover
{
    background-color: #423775;
    border-color: #423775;
    color: #fff;
}

.custom-button-outline:hover
{
    background-color: #271b55;
    color: #fff;
}

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */



